
footer {
  background-color: #2196f3;
  width: 100%;
  margin-top: auto;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: #fff;
  bottom: 0;
  position: absolute;
}
 
footer section {
  float: left;
}
 
/* footer a {
  margin: 0px 1px;
  color: white;
  text-decoration: none;
} */

footer a:hover {
  box-shadow: inset 0 -2px 0 0 #333;
}

button {
  font-size: calc(10px + 2vmin);
}
